.navbar{
    display: flex;


    &--size{
        height: 70px;
        width: 100%;
    }

    &--theme{

    }

    &__left{
        flex: 1;
        background-color: aqua;
    }

    &__center{
        flex: 3;
        background-color: gainsboro;
    }

    &__logo{
        flex: 1;

        &--link{
            width: 100%;
            background-color: rebeccapurple;
            height: 50px;
        }

        &-base{
            background-color: red;
            background: url("./../../../assets/images/amazon-icon.jpeg");
            background-repeat: repeat-x;
        }
    }

    &__right{
        flex: 1;
        background-color: rebeccapurple;
    }
}